<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery-3.6.4.js"></script>
  <title>게시글 상세보기</title>
  <style>

    .btn-group {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        gap: 10px;
    }
    .btn {
        margin-right: 1px;
    }
    .title {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 10px;
    }
    .content {
        font-size: 16px;
        line-height: 1.5;
    }
    .info {
        font-size: 14px;
    }
    .info span {
        margin-right: 10px;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img th:src="@{/images/f64.png}" height="35px" alt="photo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" sec:authorize="isAuthenticated()">
                    <span class="nav-link">
                        <span class="mr-2" th:text="'환영합니다, ' + ${nickname}"></span>
                    </span>
        </li>
        <!-- 로그인 상태인 경우 로그아웃 버튼 보이기 -->
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <form class="form-inline" th:action="@{/user/logout}" method="post">
            <button class="btn btn-link nav-link" type="submit">
              <i class="fas fa-sign-out-alt"></i>
              로그아웃
            </button>
          </form>
        </li>

        <!-- 로그아웃 상태인 경우 로그인 버튼 보이기 -->
        <li class="nav-item" sec:authorize="!isAuthenticated()">
          <a class="nav-link" href="/user/login">로그인</a>
        </li>
        <li class="nav-item" sec:authorize="!isAuthenticated()">
          <a class="nav-link" href="/user/signup">회원가입</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">홈</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/board/list">자유 게시판</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/photospot/list">출사지 신청</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/calendar">행사 일정</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inquiry/list">Q&A</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
<table class="table">
  <tbody>
  <tr>
    <td class="title" colspan="2" th:text="${board.title}"></td>
  </tr>
  <tr>
    <td colspan="2" class="info">
      <span>작성자:</span>
      <span th:text="${board.writerNickname}"></span>
      <span>작성일자:</span>
      <span th:text="${#temporals.format(board.createdDate, 'yyyy/MM/dd HH:mm')}"></span>
      <span>조회수:</span>
      <span th:text="${board.viewCount}"></span>
      <span>추천수:</span>
      <span th:text="${board.likeCount}"></span>
    </td>
  </tr>
  <tr>
    <td class="content" colspan="2" th:text="${board.content}"></td>
  </tr>
  <tr>
    <td colspan="2" class="btn-group">
      <form sec:authorize="isAuthenticated()" id="like-button" method="post" th:action="@{/board/like/{id}(id=${board.id})}">
        <button type="submit" class="btn btn-success">추천</button>
      </form>
      <form id="back" method="get" th:action="@{/board/list}">
        <button type="submit" class="btn btn-primary">글 목록</button>
      </form>
      <form th:if="${isWriter}" id="update" method="get" th:action="@{/board/update/{id}(id=${board.id})}">
        <button type="submit" class="btn btn-primary">글 수정</button>
      </form>
      <form th:if="${isWriter}" id="delete" method="post" th:action="@{/board/delete/{id}(id=${board.id})}" onsubmit="return confirm('정말로 삭제하시겠습니까?')">
        <button type="submit" class="btn btn-primary">글 삭제</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<div th:if="${commentList}" class="card mt-5">
  <div class="card-header">
    <h5 class="card-title" style="font-weight: bold;">댓글 목록</h5>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>내용</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="comment : ${commentList}">
        <td>
          <div>
            <span style="font-weight: bold" th:text="${comment.writerNickname}"></span>
            <small th:text="${#temporals.format(comment.createdDate, 'yyyy/MM/dd HH:mm')}"></small>
          </div>
          <div th:text="${comment.content}"></div>
        </td>
        <td>
          <form th:if="${isCommentWriter}" th:action="@{/board/view/{boardId}/comment/delete/{commentId}(boardId=${board.id}, commentId=${comment.id})}" method="post" onsubmit="return confirm('정말로 삭제하시겠습니까?')">
            <button type="submit" class="btn btn-danger delete-comment-btn">삭제</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="card mt-5">
  <div class="card-header">
    <h5 class="card-title" style="font-weight: bold;" >댓글 작성</h5>
  </div>
  <div class="card-body">
    <form method="post" th:action="@{/board/comment/{id}(id=${board.id})}">
      <div class="form-group">
        <textarea class="form-control" rows="2" name="content"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">작성하기</button>
    </form>
  </div>
</div>

</div>




</body>
</html>