<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
  <meta charset="UTF-8">
  <title>게시글 상세보기</title>
</head>
<body>
<script>
$(document).ready(function() {
    $('#like-button').submit(function(e) {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: $(this).attr('action'),
            success: function() {
                location.reload();
            },
            error: function() {
                alert('이미 추천한 게시물입니다.');
            }
        });
    });
});
</script>
<h1>게시글 상세보기</h1>
<table>
  <tbody>
  <tr>
    <th>제목</th>
    <td th:text="${board.title}"></td>
  </tr>
  <tr>
    <th>작성자</th>
    <td th:text="${board.writer}"></td>
  </tr>
    <th>작성일자</th>
    <td th:text="${board.createdDate}"></td>
  </tr>
  <tr>
    <th>조회수</th>
    <td th:text="${board.viewCount}"></td>
  </tr>
  <tr>
    <th>내용</th>
    <td th:text="${board.content}"></td>
  </tr>
  <tr>
    <th>추천수</th>
    <td th:text="${board.likeCount}"></td>
  </tr>
  <form id="like-button" method="post" th:action="@{/board/like/{id}(id=${board.id})}">
    <button type="submit" class="btn btn-primary">추천</button>
  </form>
  </tbody>
</table>
</body>
</html>
