<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>F-64 Calendar</title>
    <link href="/static/fullcalendar-6.1.5/dist/index.global.js" rel="stylesheet" />
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script src="/static/jquery-3.6.4.js"></script>
    <script src="/static/fullcalendar-6.1.5/dist/index.global.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
            var today = new Date().toISOString().slice(0, 10); //
        var calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          initialDate: today,
          navLinks: true, // can click day/week names to navigate views
          selectable: true,
          selectMirror: true,
          select: function(arg) {
            var title = prompt('Event Title:');
            if (title) {
              calendar.addEvent({
                title: title,
                start: arg.start,
                end: arg.end,
                allDay: arg.allDay
              })
            }
            calendar.unselect()
          },
          eventClick: function(arg) {
            if (confirm('Are you sure you want to delete this event?')) {
              arg.event.remove()
            }
          },
          editable: true,
          dayMaxEvents: true, // allow "more" link when too many events
          events: [

          ]
        });

        calendar.render();
      });

    </script>
    <style>
      body {
        margin: 40px 10px;
        padding: 0;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
      }

      #calendar {
        max-width: 1100px;
        margin: 0 auto;
      }

    </style>

</head>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"> <img th:src="@{/images/f64.png}" height="35px" alt="photo"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <span th:text="${nickname}">  </span>
            </li>
            <!-- 로그인 상태인 경우 로그아웃 버튼 보이기 -->
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form class="form-inline" th:action="@{/user/logout}" method="post">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">로그아웃</button>
                </form>
            </li>
            <!-- 로그아웃 상태인 경우 로그인 버튼 보이기 -->
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/user/login">로그인</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/user/signup">회원가입</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">홈</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/board/list">자유 게시판</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">출사지 신청</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calendar">행사 일정</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">문의</a>
            </li>
        </ul>
    </div>
</nav>
<body >
<div id='calendar'></div>

</body>
</html>
